<%- include("header") -%>

<h1 class="black"> About Section</h1>

<h3>Hello,
    I am Ishan Gautam, a pre-final year IT undergrad from IET Lucknow. 
    I have done some good projects on web development especially backend.
    One of my major team project is Campusin which I have mentioned in my resume.
    I have also good grip over DSA and have secured good ranks in many prestigious coding contests.</h3>

    <h4>Chant this mahamantra and be happy!! ^_^</h5>
<h2>Hare krsna Hare krsna krsna krsna Hare Hare Hare Rama Hare Rama Rama Rama Hare Hare</h2>

<%- include("footer") -%>